# Copyright (C) 2024  ANSSI
# SPDX-License-Identifier: CC0-1.0
input_pcaps/*

# Configurazione
.env
services_config.json

# Python
**/__pycache__
.ruff_cache

# General
.idea
.vscode
.venv

# This is for testing
tshark/dumps/**
!tshark/dumps/.gitkeep